<div class="pw-detail-contents">
  <div class="pw-detail-issue">
    <div class="pw-detail-head">
      <div class="pw-controls">
        <button class="btn btn-xs btn-default">
          <i class="ion-android-more-horizontal"></i>
        </button>
        <button class="close">
          <i class="ion-close-round"></i>
        </button>
      </div>
      <div class="pw-group">
        <div class="pw-project-avatar">
          <img src="https://robohash.org/pname?set=set3" alt="" srcset="">
        </div>
        <div class="pw-key-group">
          <div class="pw-project">Scrum</div>
          <div class="pw-key">
            <a href="#" (click)="false">SCRM</a>
          </div>
        </div>
        <div class="pw-detail-summary">
          <div class="pw-detail-list edit">As an Agile team, I'd like to learn about Scrum >> Click the "SCRUM-1" link at the left of this row to see detail
            in the Description tab on the right
            <span class="overlay-edit">
              <i class="fa fa-pencil"></i>
            </span>
          </div>
        </div>
        <div class="pw-statistic-group">
          <div class="pw-detail-list">
            <div class="item">Estimate</div>
            <div class="item-desciption edit">
              <span class="cont">2</span>
              <span class="overlay-edit">
                <i class="fa fa-pencil"></i>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="pw-detail-nav">
      <div class="pw-detail-nav-content">
        <div id="details">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Details</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Status</strong>
                    <span class="status">
                      <span class="status-badge">To Do</span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Priority</strong>
                    <span class="status edit">
                      <i class="ion-arrow-up-c text-medium"></i> Medium
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Components</strong>
                    <span class="status edit">
                      None
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Labels</strong>
                    <span class="status edit">
                      None
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Version</strong>
                    <span class="status edit">
                      Version 2.0
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Epic</strong>
                    <span class="status edit">
                      Epic 1
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-people">
          <div class="module details-module">
            <div class="mod-header">
              <h2>People</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Reporter</strong>
                    <span class="status edit">
                      <a href="#" (click)="false">arghya majumder</a>
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Assignee</strong>
                    <span class="status edit">
                      <a href="#" (click)="false">arghya majumder</a>
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-date">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Dates</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Created</strong>
                    <span class="status edit">
                      14/07/2017
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
                <li class="iiten">
                  <div class="wrap">
                    <strong class="name">Updated</strong>
                    <span class="status edit">
                      14/07/2017
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-description">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Description</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap fullwidth">
                    <span class="status edit">
                      Id quod voluptatibus mei. Melius cetero audiam pro in, quo cu dicat albucius evertitur. Ad sea tale discere, his an erant
                      copiosae. No qui erat dolores offendit, sit cu numquam meliore. Ius minim mundi legimus ea.
                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-comments">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Comments</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap fullwidth">
                    <span class="status edit">
                      Id quod voluptatibus mei. Melius cetero audiam pro in, quo cu dicat albucius evertitur. Ad sea tale discere, his an erant
                      copiosae. No qui erat dolores offendit, sit cu numquam meliore. Ius minim mundi legimus ea.

                      <span class="overlay-edit">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </span>
                    <button class="btn btn-default" style="margin-top:10px">Comment</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-attach">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Attachment</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap fullwidth">
                    <span class="status" style="width:100%">
                      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                        class="well my-drop-zone">
                        <!-- <i class="ion-ios-cloud-upload-outline" style="font-size: 20px;display: inline-block;vertical-align: top;"></i>  -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                          <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                        </svg> Drop files to attach or
                        <input type="file" id="file" ng2FileSelect [uploader]="uploader" multiple class="inputfile" />
                        <label for="file">

                          <span>Upload</span>
                        </label>
                      </div>
                    </span>
                    <div class="fileUploader">
                      <table class="table table-striped table-hover" *ngIf="uploader.queue.length > 0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <!-- <th>Size</th> -->
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of uploader.queue">
                            <td nowrap>{{ item?.file?.name }}</td>
                            <td nowrap>
                              <div class="progress" style="margin-bottom: 0; height: 10px;">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar " [ngStyle]="{ 'width': item.progress + '%', 'height': '10px' }"></div>
                              </div>
                            </td>
                            <td class="text-center" nowrap>
                              <span *ngIf="item.isSuccess">
                                <i class="glyphicon glyphicon-ok"></i>
                              </span>
                              <span *ngIf="item.isCancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                              </span>
                              <span *ngIf="item.isError">
                                <i class="glyphicon glyphicon-remove"></i>
                              </span>
                            </td>

                            <td nowrap>
                              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span class="sr-only">Upload</span>
                              </button>
                              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <span class="sr-only">Cancel</span>
                              </button>
                              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="sr-only">Remove</span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-success btn-xs" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"
                        *ngIf="uploader.queue.length > 0">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                      </button>

                      <!-- <div>
                        <div>
                          Queue progress:
                          <div class="progress" style="">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-success btn-xs" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                          <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                          <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                      </div> -->
                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="details-subtask">
          <div class="module details-module">
            <div class="mod-header">
              <h2>Subtask</h2>
            </div>
            <div class="mod-content">
              <ul class="property-list">
                <li class="iiten">
                  <div class="wrap fullwidth">
                    <span class="status">
                      There are no subtask
                    </span>
                    <button class="btn btn-default" style="margin-top:10px">Create Subtask</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pw-detail-nav-menu">
      <ul>
        <li class="pw-detail-nav-item">
          <a href="#details">
            <i class="ion-information-circled" aria-hidden="true"></i>
          </a>
        </li>
        <li class="pw-detail-nav-item">
          <a href="#details-description">
            <i class="ion-android-menu" aria-hidden="true"></i>
          </a>
        </li>
        <li class="pw-detail-nav-item">
          <a href="#details-comments">
            <i class="ion-chatboxes" aria-hidden="true"></i>
          </a>
        </li>
        <li class="pw-detail-nav-item">
          <a href="#details-attach">
            <i class="ion-android-attach" aria-hidden="true"></i>
          </a>
        </li>
        <li class="pw-detail-nav-item">
          <a href="#details-subtask">
            <i class="ion-android-checkbox-outline" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
