.pw-left-project-nav {
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 1;
    -ms-flex-negative: 1;
    -webkit-flex-shrink: 1;
    min-width: 64px; // margin-left: 64px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &-container {
        background-color: #F4F5F7;
        color: #42526E;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        padding-top: 16px;
        width: 100%;
        &-project-description {
            flex-basis: auto;
            -ms-preferred-size: auto;
            -webkit-flex-basis: auto;
            flex-shrink: 0;
            -ms-flex-negative: 0;
            -webkit-flex-shrink: 0;
            min-height: 64px;
            overflow: hidden;
            padding: 0 16px 0 16px;
            transition: -ms-flex-basis 220ms, -ms-flex-basis 220ms, -webkit-flex-basis 220ms, -webkit-flex-basis 220ms, flex-basis 220ms, padding 220ms;
            -webkit-transition: -webkit-flex-basis 220ms, -webkit-flex-basis 220ms, flex-basis 220ms, padding 220ms;
            .pw-project-info-container {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-inline-flexbox;
                display: -webkit-inline-flex;
                display: inline-flex;
                display: block;
                flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                &-holder {
                    cursor: pointer;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-inline-flexbox;
                    display: -webkit-inline-flex;
                    display: inline-flex;
                    transition-duration: 0.2s;
                    -webkit-transition-duration: 0.2s;
                    transition: box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
                    -webkit-transition: box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    display: block;
                    .pw-menu-item {
                        align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        border-radius: 3px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        cursor: pointer;
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        flex: none;
                        -ms-flex: none;
                        -webkit-flex: none;
                        background-color: transparent;
                        color: #42526E;
                        text-decoration: none;
                        padding: 8px 4px;
                        &:hover {
                            background-color: rgba(9, 30, 66, 0.04);
                            color: #42526E;
                            text-decoration: none;
                        }
                        .pw-project-icon {
                            align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            -webkit-align-items: center;
                            justify-content: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            display: -webkit-box;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            flex-shrink: 0;
                            -ms-flex-negative: 0;
                            -webkit-flex-shrink: 0;
                            transition: padding 200ms;
                            -webkit-transition: padding 200ms;
                            .pw-p-i {
                                height: 46px;
                                width: 46px;
                                display: inline-block;
                                position: relative;
                                outline: 0;
                                &-i {
                                    height: 40px;
                                    width: 40px;
                                    align-items: stretch;
                                    -webkit-box-align: stretch;
                                    -ms-flex-align: stretch;
                                    -webkit-align-items: stretch;
                                    background-color: transparent;
                                    border: 0;
                                    border-radius: 6px;
                                    padding: 3px;
                                    box-sizing: content-box;
                                    -moz-box-sizing: content-box;
                                    cursor: default;
                                    display: -webkit-box;
                                    display: -moz-box;
                                    display: -ms-flexbox;
                                    display: -webkit-flex;
                                    display: flex;
                                    flex-direction: column;
                                    -webkit-box-direction: normal;
                                    -webkit-box-orient: vertical;
                                    -ms-flex-direction: column;
                                    -webkit-flex-direction: column;
                                    justify-content: center;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    -webkit-justify-content: center;
                                    outline: none;
                                    overflow: hidden;
                                    pointer-events: auto;
                                    position: static;
                                    transform: translateZ(0);
                                    -ms-transform: translateZ(0);
                                    -webkit-transform: translateZ(0);
                                    transition: background-color 0s ease-out;
                                    -webkit-transition: background-color 0s ease-out;
                                    .pw-p-avatar {
                                        background-color: transparent;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        border-radius: 3px;
                                        display: -webkit-box;
                                        display: -moz-box;
                                        display: -ms-flexbox;
                                        display: -webkit-flex;
                                        display: flex;
                                        flex: 1;
                                        -ms-flex: 1;
                                        -webkit-flex: 1;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .pw-project-name {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        flex-direction: column;
                        -webkit-box-direction: normal;
                        -webkit-box-orient: vertical;
                        -ms-flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-grow: 1;
                        -ms-flex-positive: 1;
                        -webkit-flex-grow: 1;
                        margin: 0;
                        overflow: hidden;
                        margin-left: .875em;
                        .pw-name {
                            display: block;
                            flex: 1 1 auto;
                            -ms-flex: 1 1 auto;
                            -webkit-flex: 1 1 auto;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: 1.1428571428571428;
                            padding-bottom: 5px;
                        }
                        .pw-type {
                            flex: 1 1 auto;
                            -ms-flex: 1 1 auto;
                            -webkit-flex: 1 1 auto;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #5E6C84;
                            font-size: 1em;
                            line-height: 1.1666666666666667;
                            padding-bottom: 5px;
                        }
                    }
                    .pw-arrow-down {
                        display: flex;
                        text-align: center;
                    }
                }
            }
        }
        .pw-project-menu-nav {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex: 1 1 100%;
            -ms-flex: 1 1 100%;
            -webkit-flex: 1 1 100%;
            overflow: hidden;
            position: relative;
            .pw-project-nav-items {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: column;
                -webkit-box-direction: normal;
                -webkit-box-orient: vertical;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                -webkit-flex: 1 1 100%;
                height: 100%;
                justify-content: flex-start;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                -webkit-justify-content: flex-start;
                overflow-y: auto;
                transition: padding 220ms;
                -webkit-transition: padding 220ms;
                padding: 0 16px 8px 16px;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                &:before {
                    background: #F4F5F7;
                    content: '';
                    display: block;
                    flex: 0;
                    -ms-flex: 0;
                    -webkit-flex: 0;
                    min-height: 2px;
                    position: relative;
                    z-index: 5;
                }
                .pw-project-item-holder {
                    flex: 1 1 100%;
                    -ms-flex: 1 1 100%;
                    -webkit-flex: 1 1 100%;
                    .pw-menu-content {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        flex-direction: row-reverse;
                        -webkit-box-direction: reverse;
                        -webkit-box-orient: horizontal;
                        -ms-flex-direction: row-reverse;
                        -webkit-flex-direction: row-reverse;
                        flex-grow: 1;
                        -ms-flex-positive: 1;
                        -webkit-flex-grow: 1;
                        flex-wrap: nowrap;
                        -webkit-box-lines: nowrap;
                        -ms-flex-wrap: nowrap;
                        -webkit-flex-wrap: nowrap;
                        max-height: 100%;
                        overflow: hidden;
                        .pw-menu-item-container {
                            display: -webkit-box;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            flex-basis: 100%;
                            -ms-preferred-size: 100%;
                            -webkit-flex-basis: 100%;
                            flex-direction: column;
                            -webkit-box-direction: normal;
                            -webkit-box-orient: vertical;
                            -ms-flex-direction: column;
                            -webkit-flex-direction: column;
                            flex-grow: 1;
                            -ms-flex-positive: 1;
                            -webkit-flex-grow: 1;
                            flex-shrink: 0;
                            -ms-flex-negative: 0;
                            -webkit-flex-shrink: 0;
                            overflow-y: auto;
                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                li {
                                    padding-bottom: 4px;
                                    padding-top: 4px;
                                    span {
                                        align-items: center;
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        -webkit-align-items: center;
                                        border-radius: 3px;
                                        box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        cursor: pointer;
                                        display: -webkit-box;
                                        display: -moz-box;
                                        display: -ms-flexbox;
                                        display: -webkit-flex;
                                        display: flex;
                                        flex: none;
                                        -ms-flex: none;
                                        -webkit-flex: none;
                                        background-color: transparent;
                                        color: #42526E;
                                        text-decoration: none;
                                        padding: 8px 12px;
                                        height: 40px;
                                        cursor: pointer;
                                        svg {
                                            margin-right: 10px;
                                        }
                                        &:hover {
                                            background-color: rgba(9, 30, 66, 0.04);
                                            color: #0052CC;
                                            text-decoration: none;
                                        }
                                        &:active,
                                        &.active {
                                            color: #0052CC;
                                        }
                                    }
                                    i {
                                        justify-content: right;
                                        flex: 1 0 auto;
                                        display: grid;
                                        font-size: .75em;
                                    }
                                    em {
                                        font-size: 1.429em;
                                        margin-right: 12px;
                                    }
                                }
                            }
                            .clearnav {
                                margin-top: 19px;
                                margin-bottom: 19px;
                                margin-left: -8px;
                                height: 2px;
                                background: rgba(9, 30, 66, 0.08);
                                border-radius: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

