
    <div class="pw-classification-group">
      <div class="pw-classification-header">
        <div class="pw-actions">
          <button class="btn noColorBtn crtv">Create Version</button>
          <span class="closecrtv">
            <i class="fa fa-close"></i>
          </span>
        </div>
        <h2>Versions</h2>
      </div>
      <div class="pw-classification-scrollview">
        <div class="pw-classification-item">
          <div class="pw-inner-in">
            <div class="pw-header-in">
              <h3 class="pw-name">All Issues</h3>
            </div>
          </div>
        </div>
        <div class="pw-classification-item">
          <accordion [closeOthers]="oneAtATime" class="pw-inner-in">
            <accordion-group heading="Version 2.0" panelClass="">
              <div class="pw-expanded">
                <div class="aui-group">
                  <div class="aui-item">Start Date</div>
                  <div class="aui-item">
                    <span class="field-value pw-editable">None</span>
                  </div>
                </div>
                <div class="aui-group">
                  <div class="aui-item">Release Date</div>
                  <div class="aui-item">
                    <span class="field-value pw-editable">23/12/2017</span>
                  </div>
                </div>
                <div class="aui-group">
                  <div class="aui-item">Issues</div>
                  <div class="aui-item">
                    <span class="aui-badge">7</span>
                  </div>
                </div>
                <div class="aui-group">
                  <div class="aui-item">Completed</div>
                  <div class="aui-item">
                    <span class="aui-badge">3</span>
                  </div>
                </div>
                <div class="aui-group">
                  <div class="aui-item">Unestimated</div>
                  <div class="aui-item">
                    <span class="aui-badge">7</span>
                  </div>
                </div>
                <div class="aui-group">
                  <div class="aui-item">Estimated</div>
                  <div class="aui-item">
                    <span class="aui-badge">7</span>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group heading="Version 3.0" panelClass="">
                  <div class="pw-expanded">
                    <div class="aui-group">
                      <div class="aui-item">Start Date</div>
                      <div class="aui-item">
                        <span class="field-value pw-editable">None</span>
                      </div>
                    </div>
                    <div class="aui-group">
                      <div class="aui-item">Release Date</div>
                      <div class="aui-item">
                        <span class="field-value pw-editable">23/12/2017</span>
                      </div>
                    </div>
                    <div class="aui-group">
                      <div class="aui-item">Issues</div>
                      <div class="aui-item">
                        <span class="aui-badge">7</span>
                      </div>
                    </div>
                    <div class="aui-group">
                      <div class="aui-item">Completed</div>
                      <div class="aui-item">
                        <span class="aui-badge">3</span>
                      </div>
                    </div>
                    <div class="aui-group">
                      <div class="aui-item">Unestimated</div>
                      <div class="aui-item">
                        <span class="aui-badge">7</span>
                      </div>
                    </div>
                    <div class="aui-group">
                      <div class="aui-item">Estimated</div>
                      <div class="aui-item">
                        <span class="aui-badge">7</span>
                      </div>
                    </div>
                  </div>
                </accordion-group>
          </accordion>
        </div>
        <div class="pw-classification-item">
              <div class="pw-inner-in">
                <div class="pw-header-in">
                  <h3 class="pw-name">Issues Without Version</h3>
                </div>
              </div>
            </div>
      </div>

    </div>
