<div class="pw-header">
  <div class="pw-header-container">
    <div class="pw-header-container-inner">
      <a class="pw-header-link" href="#">
        <span class="pw-header-link-span">
          <span class="pw-link">New Board</span>
        </span>
      </a>
    </div>
  </div>
  <div class="pw-top-header">
    <div class="pw-modes-tools">
      <div class="pw-view-pluggable">
        <div class="pw-view-section">
          <button class="board-tools-section-button">
            <span class="ion-more"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="pw-view-selector">
      <h1>
        <span class="subnavigator-title" title="Backlog">Backlog</span>
      </h1>
    </div>
  </div>
</div>
