#content {
    .pw-realative {
        position: relative;
        .pw-operations {
            .pw-controls {
                .pw-quick-filters {
                    margin-bottom: 10px;
                    &>ul {
                        display: inline-block;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        &>li {
                            display: inline-block;
                            padding: 0 5px;
                            vertical-align: top;
                            &.backlog-search-container {
                                position: relative;
                                min-height: 20px;
                                min-width: 48px;
                                width: 160px;
                                $border_color_1: #dfe1e6;
                                .stylish-input-group {
                                    .input-group-addon {
                                        height: 32px;
                                        color: #172b4d;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        line-height: 20px;
                                        background-color: #f4f5f7;
                                        border: 1px solid #dfe1e6;
                                        padding: 4px 7px 5px;
                                        border-left: 1px solid transparent;
                                    }
                                    .form-control {
                                        border-right: 0;
                                        box-shadow: 0 0 0;
                                        border-color: $border_color_1;
                                        background: #f4f5f7;
                                    }
                                    button {
                                        border: 0;
                                        background: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pw-plan {
            overflow: hidden !important;
            height: calc(100vh - 0px);
            .pw-plan-group {
                display: table;
                table-layout: fixed;
                width: 100%;
                height: calc(100vh - 0px);
                .pw-classification-menu-column {
                    width: 20px;
                    display: table-cell;
                    vertical-align: top;
                    .pw-classification-menu {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        &>li {
                            color: #707070;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 1.66666666666667;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: inline-block;
                            line-height: 20px;
                            overflow: hidden;
                            width: 20px;
                            height: 80px;
                            &:hover {
                                background-color: #dfe1e6;
                            }
                            .pw-inner {
                                padding-top: 2px;
                                display: inline-block;
                                -moz-transform: translate(20px, 0) rotate(90deg);
                                -ms-transform: translate(20px, 0) rotate(90deg);
                                -o-transform: translate(20px, 0) rotate(90deg);
                                -webkit-transform: translate(20px, 0) rotate(90deg);
                                transform: translate(20px, 0) rotate(90deg);
                                -moz-transform-origin: 0 0;
                                -ms-transform-origin: 0 0;
                                -o-transform-origin: 0 0;
                                -webkit-transform-origin: 0 0;
                                transform-origin: 0 0;
                                white-space: nowrap;
                                margin: 10px 0;
                            }
                        }
                    }
                }
                .pw-version-column,
                .pw-epic-column {
                    border: none;
                    border-top: 1px solid #DFE1E6;
                    border-right: 1px solid #DFE1E6;
                    display: table-cell;
                    height: inherit;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 220px;
                    .pw-classification-group {
                        position: relative;
                        box-sizing: border-box;
                        height: inherit;
                        padding-top: 32px;
                        .pw-classification-header {
                            padding-top: 5px;
                            box-sizing: border-box;
                            left: 0;
                            padding: 10px 0 0 20px;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            .pw-actions {
                                padding-top: 0px;
                                visibility: visible;
                                display: table;
                                float: right;
                                font-size: 12px;
                                line-height: 1;
                                margin-top: -1px;
                                .crtv {
                                    color: #0052cc;
                                    text-decoration: none;
                                    display: table-cell;
                                    padding: 0 4px;
                                    font-size: 12px;
                                    height: auto;
                                    line-height: 1 !important;
                                    margin: 0;
                                    padding: 0;
                                    vertical-align: text-bottom;
                                    &:hover {
                                        background: none !important;
                                        border: none !important;
                                        color: #0052cc !important;
                                    }
                                }
                                .closecrtv {
                                    display: table-cell;
                                    color: #707070;
                                    cursor: pointer;
                                    display: inline-block;
                                    padding: 2px 12px 0 5px;
                                    text-align: right;
                                    vertical-align: top;
                                    margin-top: -1px;
                                    margin-left: 6px;
                                }
                            }
                            &>h2 {
                                color: #5e6c84;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 12px;
                                padding-top: 3px;
                                text-transform: uppercase;
                                margin: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .pw-classification-scrollview {
                            height: 100%;
                            overflow-y: auto;
                            .pw-classification-item {
                                background-color: #fafbfc;
                                border-color: #ccd9ea;
                                border-bottom: 1px solid #ccd9ea;
                                border-top: 1px solid #ccd9ea;
                                color: #707070;
                                cursor: pointer;
                                overflow: hidden;
                                position: relative;
                                margin-bottom: -1px;
                                .pw-inner-in {
                                    border: 0px dashed transparent;
                                    padding: 8px 8px 8px 20px;
                                    &:hover {
                                        background: rgba(160, 160, 160, 0.2);
                                    }
                                    .pw-header-in {
                                        margin-right: 9px;
                                        .pw-name {
                                            padding-right: 0;
                                            font-size: 14px;
                                            font-weight: normal;
                                            line-height: 1.2106;
                                            margin: 0;
                                            word-wrap: break-word;
                                            display: flex;
                                            color: #172b4d;
                                        }
                                    }
                                    &.panel-group {
                                        margin-bottom: 0px;
                                        padding: 0px;
                                        &:hover {
                                            background: transparent;
                                        }
                                        .panel {
                                            border-radius: 0px;
                                            box-shadow: none;
                                            background: transparent;
                                            border: none;
                                            border-bottom: 1px solid #ccd9ea;
                                            margin-bottom: -1px;
                                            margin-top: 0px;
                                            &.panel-default {
                                                padding: 6px 6px 6px 20px;
                                                border-color: transparent;
                                                &:hover {
                                                    background: rgba(160, 160, 160, 0.2);
                                                }
                                                .panel-heading {
                                                    padding: 0px;
                                                    border-radius: 0px;
                                                    background: transparent;
                                                    border: none;
                                                    .panel-title {
                                                        font-size: 14px;
                                                        font-family: 'Roboto', sans-serif;
                                                    }
                                                }
                                                &>.panel-heading+.panel-collapse>.panel-body {
                                                    border-top-color: transparent;
                                                }
                                            }
                                            .pw-expanded {
                                                .aui-group {
                                                    display: inline-table;
                                                    box-sizing: border-box;
                                                    border-spacing: 0;
                                                    table-layout: fixed;
                                                    width: 100%;
                                                    margin-top: 10px;
                                                    font-size: 12px;
                                                    .aui-item {
                                                        color: #333;
                                                        vertical-align: baseline;
                                                        box-sizing: border-box;
                                                        display: table-cell;
                                                        margin: 0;
                                                        vertical-align: top;
                                                        .pw-editable {
                                                            color: #172b4d;
                                                            font-size: 14px;
                                                            font-weight: 400;
                                                            font-style: normal;
                                                            line-height: 20px;
                                                            background-color: #f4f5f7;
                                                            border: 1px solid #dfe1e6;
                                                            padding: 4px 7px 5px;
                                                        }
                                                        .aui-badge {
                                                            white-space: pre-wrap;
                                                            text-transform: lowercase;
                                                            font-size: 12px;
                                                            line-height: 16px;
                                                            background-color: #dfe1e6;
                                                            color: #172b4d;
                                                            min-width: 12px;
                                                            padding: 3px 7px 2px 7px;
                                                            position: relative;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            text-shadow: none;
                                                            margin: 0;
                                                            min-height: 1em;
                                                            background: rgba(0, 0, 0, 0.2);
                                                            border-radius: 2em;
                                                            display: inline-block;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .pw-scrum-main-column {
                    display: table-cell;
                    height: inherit;
                    vertical-align: top;
                    .pw-backlog {
                        border-left: none;
                        background: #fff;
                        height: inherit;
                        overflow-y: auto;
                        margin-left: 10px;
                        .pw-backlog-container {
                            background: #fff;
                            border: none;
                            border-width: 0 0 2px;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 0;
                            position: relative;
                            margin-bottom: 20px;
                            &.backlog{
                                margin-top: 20px;
                            }
                            .pw-backlog-header {
                                min-height: 33px;
                                padding-top: 14px;
                                .pw-expander {
                                    cursor: pointer;
                                    display: inline-block;
                                    width: 20px;
                                }
                                .pw-name {
                                    display: inline-block;
                                    color: #333;
                                    font-size: 14px;
                                    font-weight: bold;
                                    line-height: 1.5;
                                    line-height: 1.42857143;
                                    white-space: nowrap;
                                }
                                .pw-issue-count {
                                    color: #7A869A;
                                    margin-left: 10px;
                                    display: inline-block;
                                }
                                .pw-sprint-edit {
                                    visibility: visible;
                                    margin-left: 10px;
                                    display: inline-block;
                                    .noColorBtn {
                                        color: #0052cc;
                                        background: 0 0;
                                        padding: 4px 10px;
                                        height: 2.28571429em;
                                        line-height: 1.57142857em;
                                        text-decoration: none;
                                        box-shadow: none;
                                        border-color: transparent;
                                        box-sizing: border-box;
                                        border-radius: 3.01px;
                                        display: inline-block;
                                        font-family: inherit;
                                        vertical-align: baseline;
                                        white-space: nowrap;
                                    }
                                }
                                .pw-controls{
                                    float: right;
                                    margin: 5px 18px 0 10px;
                                    width: auto;
                                    table-layout: auto;
                                    display: table;
                                    box-sizing: border-box;
                                    border-spacing: 0;
                                    .pw-item{
                                        padding: 0 10px;
                                        box-sizing: border-box;
                                        display: table-cell;
                                        margin: 0;
                                        vertical-align: top;
                                        .btn-primary{
                                            background: #0052cc;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                            .pw-scrum-meta{
                                display: block;
                                .pw-work-status{
                                    padding: 5px 20px;
                                }
                                .pw-issues{
                                    position: relative;
                                    margin: 10px 20px;
                                    margin-bottom: 0;
                                    .issue-card{
                                        background: #f9f9f9;
                                        border: 1px solid #DFE1E6;
                                        color: #333;
                                        cursor: move;
                                        font-size: 14px;
                                        line-height: 1.42857143;
                                        margin-top: -1px;
                                        position: relative;
                                        &.selected{
                                            background: #deebff;
                                            .item-importance{
                                                background-color: #deebff !important;
                                            }
                                        }
                                        .issue-content{
                                            padding-left: 0;
                                            -moz-box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            box-sizing: border-box;
                                            padding-left: 5px;
                                            overflow: hidden;
                                            position: relative;
                                            white-space: nowrap;
                                            .issue-main-fields{
                                                margin: 5px 0;
                                                display: block;
                                                height: 22px;
                                                position: relative;
                                                .expander-spacer{
                                                    width: 16px;
                                                    display: inline-block;
                                                }
                                                .item-spacer{
                                                    height: 16px;
                                                    width: 16px;
                                                    margin-right: 10px;
                                                    display: inline-block;
                                                }
                                                .item-summary{
                                                    color: #172B4D;
                                                    overflow: hidden;
                                                    max-width: 100%;
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                    margin-left: 0;
                                                    text-overflow: ellipsis;
                                                }
                                                .item-importance{
                                                    background-color: #f9f9f9;
                                                    position: absolute;
                                                    right: 0;
                                                    top: -4px;
                                                    margin: 0;
                                                    box-sizing: border-box;
                                                    padding: 4px 5px;
                                                    height: 22px;
                                                    &.selected{
                                                        background: #deebff;
                                                    }
                                                    .label-version{
                                                        max-width: 12em;
                                                        vertical-align: middle;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        margin-right: 10px;
                                                        background: #dfe1e6;
                                                        border-radius: 3px;
                                                        color: #253858;
                                                        box-sizing: border-box;
                                                        color: #333;
                                                        display: inline-block;
                                                        font-size: 11px;
                                                        font-weight: bold;
                                                        line-height: 99%;
                                                        margin: 0;
                                                        padding: 4px 5px;
                                                        text-align: center;
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                    }
                                                    .assigned-scrum{
                                                        text-transform: uppercase;
                                                        color: #5E6C84;
                                                        margin: 0px 10px;
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                    }
                                                    .item-priority{
                                                        margin-right: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}