<div class="pw-left-project-nav-container">
  <div class="pw-left-project-nav-container-project-description">
    <div class="pw-project-info-container">
      <div class="pw-project-info-container-holder">
        <div class="pw-menu-item">
          <div class="pw-project-icon">
            <div class="pw-p-i">
              <div class="pw-p-i-i">
                <span class="pw-p-avatar" style="background-image: url('/assets/img/avatars/projectavatar.svg')"></span>
              </div>
            </div>
          </div>
          <span class="pw-project-name">
            <span class="pw-name">Scrum</span>
            <span class="pw-type"> Software project</span>
          </span>
          <span class="pw-arrow-down">
            <i class="ion-chevron-down"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="pw-project-menu-nav">
    <div class="pw-project-nav-items">
      <div class="pw-project-item-holder">
        <div class="pw-menu-content">
          <div class="pw-menu-item-container">
            <ul>
              <li>
                <span>
                  <em class="pi-board"></em> New Board
                  <i class="ion-chevron-down"></i>
                </span>

              </li>
              <li class="divider"></li>
              <li>
                <span>
                    <em class="pi-backlog"></em> Backlog
                </span>

              </li>
              <li>
                <span>
                    <em class="pi-sprint"></em> Active Sprint
                </span>

              </li>
              <li>
                <span>
                    <em class="pi-report"></em> Reports
                  <i class="ion-arrow-right-c"></i>
                </span>

              </li>
            </ul>
            <div class="clearnav"></div>
            <ul>
                <li>
                  <span>
                    <em class="pi-release"></em> Release
                    <i class="ion-chevron-down"></i>
                  </span>
                </li>
                <li>
                  <span>
                      <em class="pi-issue"></em> Issues
                  </span>
  
                </li>
                <li>
                  <span>
                      <em class="pi-component"></em> Components
                  </span>
  
                </li>
                <li>
                  <span>
                    <em class="pi-app"></em> Add Item
                    <i class="ion-arrow-right-c"></i>
                  </span>
  
                </li>
                <li>
                    <span>
                      <em class="pi-settings"></em> Settings
                    </span>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>