<div class="pw-work">
  <div class="pw-pool-column">
    <div class="pw-pool">
      <div class="pw-column-header-group">
        <ul class="pw-column-headers">
          <li class="pw-column">
            <div class="pw-column-header-flex">
              <div class="pw-column-header-flexi">
                <h2>To Do</h2>
              </div>
            </div>
          </li>
          <li class="pw-column">
            <div class="pw-column-header-flex">
              <div class="pw-column-header-flexi">
                <h2>In Progress</h2>
              </div>
            </div>
          </li>
          <li class="pw-column">
            <div class="pw-column-header-flex">
              <div class="pw-column-header-flexi">
                <h2>Done</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="pw-swimlane">
        <ul class="pw-columns">
          <li class="pw-column">
            <div class="pw-wrap-issue">
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
            </div>
          </li>
          <li class="pw-column">
            <div class="pw-wrap-issue">
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
              <div class="pw-issue">
                <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                  >> Try setting the Story Points for this story in the "Estimate" field</section>
                <section class="pw-stat-fields">
                  <div class="pw-row">
                    <span class="pw-field-icon">
                      <img src="./assets/img/svg/story.svg" alt="" srcset="">
                    </span>
                    <span class="pw-field-icon">
                      <i class="ion-arrow-up-c text-high"></i>
                    </span>
                    <span class="pw-field-icon">
                      <span class="pw-estimate">5</span>
                    </span>
                  </div>
                  <div class="pw-row stat-2">
                    <span class="pw-key">
                      <span class="pw-p-key">SCRUM</span>
                      <span class="pw-p-number">4-</span>
                    </span>
                  </div>
                </section>
              </div>
            </div>
          </li>
          <li class="pw-column">
            <div class="pw-wrap-issue">
                <div class="pw-issue">
                    <section class="pw-summary">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining
                      >> Try setting the Story Points for this story in the "Estimate" field</section>
                    <section class="pw-stat-fields">
                      <div class="pw-row">
                        <span class="pw-field-icon">
                          <img src="./assets/img/svg/story.svg" alt="" srcset="">
                        </span>
                        <span class="pw-field-icon">
                          <i class="ion-arrow-up-c text-high"></i>
                        </span>
                        <span class="pw-field-icon">
                          <span class="pw-estimate">5</span>
                        </span>
                      </div>
                      <div class="pw-row stat-2">
                        <span class="pw-key">
                          <span class="pw-p-key">SCRUM</span>
                          <span class="pw-p-number">4-</span>
                        </span>
                      </div>
                    </section>
                  </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
