<div class="animated fadeIn">
  <div class="pw-page-panel">
    <app-scrum-header></app-scrum-header>
    <div class="pw-content-main">
      <div class="pw-realative">
        <div class="pw-operations">
          <div class="pw-controls">
            <div class="pw-quick-filters">
              <ul>
                <li class="backlog-search-container">
                  <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                      <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </li>
                <li>
                  <span dropdown class="relative">
                    <button dropdownToggle type="button" class="btn dropdown-toggle noColorBtn">
                      Quick Filters
                      <span class="fa fa-angle-down"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li *ngFor="let choice of items">
                        <a class="dropdown-item" href="#" (click)="false">{{choice}}</a>
                      </li>
                    </ul>
                  </span>
                </li>
                <li>
                  <span dropdown class="relative">
                    <button dropdownToggle type="button" class="btn dropdown-toggle noColorBtn">
                      Assignee
                      <span class="fa fa-angle-down"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li *ngFor="let choice of items">
                        <a class="dropdown-item" href="#" (click)="false">{{choice}}</a>
                      </li>
                    </ul>
                  </span>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="pw-plan">
          <div class="pw-plan-group">
            <div class="pw-classification-menu-column">
              <ul class="pw-classification-menu">
                <li>
                  <span class="pw-inner">Versions</span>
                </li>
                <li>
                  <span class="pw-inner">Epics</span>
                </li>
              </ul>
            </div>
            <!-- <app-version class="pw-version-column"></app-version>
            <app-epic class="pw-epic-column"></app-epic> -->
            <app-scrum-main class="pw-scrum-main-column"></app-scrum-main>
            <app-scrum-detail class="pw-detail-view"></app-scrum-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
