<div class="pw-header">
    <div class="pw-header-container">
      <div class="pw-header-container-inner">
        <a class="pw-header-link" href="#">
          <span class="pw-header-link-span">
            <span class="pw-link">New Board</span>
          </span>
        </a>
      </div>
    </div>
    <div class="pw-top-header">
      <div class="pw-modes-tools">
        <div class="pw-view-pluggable">
          <div class="pw-view-section">
            <span class="days-remaining"><i class="ion-android-time"></i> 8 days remaining</span>
            <button class="btn btn-default">Complete Sprint</button>
            <button class="board-tools-section-button">
              <span class="ion-more"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="pw-view-selector">
        <h1>
          <span class="subnavigator-title" title="Sprint 2">Sprint 2</span>
        </h1>
      </div>
    </div>
  </div>
  